{% extends 'index.html' %}

{% block title %}Weather App{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="fw-bold text-white">Welcome to the Weather App</h1>
                <button type="button" class="btn btn-outline-light btn-lg mt-3">Check Weather</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
